<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/public/img/favicon.ico">

    <title>Mirror brasileiro do npmjs</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/bootstrap/3.2/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      .navbar {
        height: 5px;
        min-height: 5px;
        background-color: #CC3D33;
        border: none;
      }
    </style>
  </head>

  <body>
    <a href="https://github.com/nodebr/npmjs.com.br"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      </div>
    </div>
    <div class="container">
      <h1>Mirror brasileiro do npmjs.org</h1>
      <p>O mirror brasileiro do registro npmjs.org precisa da sua ajuda, estamos procurando por um patrocinador para colocar este servidor em solo brasileiro e ajudar todos os desenvolvedores e empresas brasileiras com uma latência menor. Se você se interessa em ajudar o mirror, envie um email para <a href="mailto:contato@nodebr.org">contato@nodebr.org</a>. Com a sua ajuda pretendemos também comprar um certificado para esse site e operar apenas em cima de conexões criptografadas.</p>

      <h3>Instalação</h3>
      <p>Siga as instruções abaixo para começar a utilizar o mirror:</p>
      <pre>
        <code>
  # No seu terminal digite a seguinte linha
  npm config set registry=http://registry.npmjs.com.br

  # Para parar de usar o mirror
  npm config del registry
        </code>
      </pre>
      <h3>Como funciona</h3>
      <p>Este servidor faz cache <em>on demand</em> dos pacotes e dos metadados dos pacotes, por isso a primeira requisição pode demorar um pouco se o seu pacote ainda não estiver em cache no servidor. Os metadados dos pacotes expiram a cada hora, então uma atualização ou nova versão de um pacote pode demorar alguns minutos até que o seu cache de metados expire. Todas as outras requisições são proxiadas diretamente para o <a href="https://registry.npmjs.org">https://registry.npmjs.org</a>, assim é possível fazer o login e enviar os seus pacotes diretamente para esse mirror.<p>
      <small>Projeto criado e mantido pela comunidade <a href="http://nodebr.org">NodeBR</a></small>
    </div>
    <script src="//cdn.jsdelivr.net/g/jquery@2.1,bootstrap@3.1"></script>
  </body>
</html>
